<!-- Check For Sport Type -->
<input #sportType><button (click)="CheckContent(sportType.value)">Check Content</button>

<!-- Create Sport Item -->
<app-create></app-create>

<!-- Display Sport Items -->
<app-content-card *ngFor=" let sport of sportContent | filterContent: 'Team Sport'; last as isLast" [class.is-last]="isLast" [content]="sport" class="team"></app-content-card>
<app-content-card *ngFor=" let sport of sportContent | filterContent: 'Individual Sport'; last as isLast" [class.is-last]="isLast" [content]="sport" class="individual"></app-content-card>

<!-- Test Title -->
<h1>{{title}}</h1>

<!-- Display Sport Messages -->
<app-messages></app-messages>
