:host {
  font-family: 'Courier New', Courier, serif;
  border: 10px solid darkslategrey;
  display: block;
  width: 255px;
  padding: 20px;
  margin: 15px;
  height: 380px;
  border-radius: 20px;
  background-color: lightsteelblue;
}

h2 {
  font-weight: bold;
}

h1 {
  text-align-all: center;
  font-weight: bold;
  font-size: 40px;
  color: aliceblue;
}
