:host {
  font-family: 'Courier New', Courier, serif;
  border: 10px solid darkslategrey;
  display: block;
  width: 415px;
  padding: 20px;
  margin: 15px;
  height: 640px;
  border-radius: 20px;
  background-color: lightsteelblue;
}

:host.individual {
  border: 5px solid red;
}

:host.team {
  border: 5px solid green;
}

.defaultImage {
  width: 400px;
  height: 300px;
}

button {
  width: 375px;
  align-content: center;
  height: 40px;
  color: black;
  font-weight: bold;
  border-color: green;
  background-color: tan;
  border-radius:10px;
  margin: 5px;
}
