:host {
  width: 400px;
  font-family: 'Courier New', Courier, serif;
  border: 10px solid darkslategrey;
  padding: 50px;
  margin: 30px;
  border-radius: 20px;
  background-color: lightsteelblue;
}

:host.individual {
  border: 5px solid red;
}

:host.team {
  border: 5px solid green;
}

