<!DOCTYPE html>
<html>
  <body class="card-content">
  <div appHoverStyle><h1>{{content.id}}, {{content.title}}</h1></div>
      <div *ngIf="content.imgUrl else elseCheck">
        <img [src]="content.imgUrl" (click)="ImageClick()"  alt="image" width="400" height="300">
      </div>
      <ng-template #elseCheck>
        <img src="https://media.istockphoto.com/photos/no-image-available-picture-id531302789?b=1&k=20&m=531302789&s=170667a&w=0&h=B2d1v_fE42RuJO9CXfh1TvTrGG3-_TXXDl2L-tpWL8M=" alt="imageDefault" class="defaultImage">
      </ng-template>
    <h3>{{content.body}}</h3>
        {{content.author}}
    <div>
      <h4> Type: {{content.type}}</h4>
    </div>
  </body>
</html>

