.card-content {
  width: 400px;
  font-family: 'Courier New', Courier, serif;
  border: 10px solid darkslategrey;
  padding: 50px;
  margin: 30px;
  border-radius: 20px;
  background-color: lightsteelblue;
}

.card-content :last-child {
  border: 2px solid black;
}

