<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="ID">
    <input matInput placeholder="Author">
    <input matInput placeholder="Image">
    <input matInput placeholder="Type">
    <input matInput placeholder="Title">
    <input matInput placeholder="Body">
    <input matInput placeholder="Tags">

    <mat-dialog-actions>
      <button class="mat-raised-button"(click)="close()">Close</button>
      <button class="mat-raised-button mat-primary"(click)="addSport()">Save Sport</button>
    </mat-dialog-actions>

    <div>
      <button mat-raised-button color="primary" (click)="addSport()">Add Sport</button>
      <button mat-raised-button color="primary" (click)="updateSport()">Update Sport</button>
      <button mat-raised-button color="primary" >Add Content</button>
    </div>

  </mat-form-field>
</mat-dialog-content>
