<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="ID">
    <input matInput placeholder="Author">
    <input matInput placeholder="Image">
    <input matInput placeholder="Type">
    <input matInput placeholder="Title">
    <input matInput placeholder="Body">
    <input matInput placeholder="Tags">

    <mat-dialog-actions>
      <button class="mat-raised-button"(click)="close()">Close</button>
      <button class="mat-raised-button mat-primary"(click)="save()">Save Sport</button>
    </mat-dialog-actions>

  </mat-form-field>
</mat-dialog-content>
